<div class="box-container"><span class="box ">Products </span></div>

<div *ngIf='flag'>
<table fxLayoutAlign="center">
  <tr class="gap" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" *ngFor="let name of featuredProductProductName;let i=index">
    <ng-container *ngIf="i%3==0 && i<6">
      <td *ngFor="let j of [i,i+1,i+2]" class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <mat-card class="matCard">
              <img mat-card-image style="height: 200px;width: 200px;"
                src="https://i.dlpng.com/static/png/135349_thumb.png"
                alt="Photo of a {{featuredProductProductName[j]}}">
              <div class="bottom-right">Click to Flip</div>

              <mat-card-content>
                <span><b>{{featuredProductProductName[j]}}</b></span>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="flip-card-back">
            <h1>{{featuredProductProductName[j]}}</h1>
            <!-- <p>
              {{featuredProductShortDetails.get(featuredProductProductName[j])}}
            </p> -->
            <p>
                Type:&nbsp; {{featuredProductSpecification.get(featuredProductProductName[j]).get("Type")}}
               <br> Dimensions:&nbsp; {{featuredProductSpecification.get(featuredProductProductName[j]).get("Dimensions")}}
               <br> Capacity:&nbsp;{{featuredProductSpecification.get(featuredProductProductName[j]).get("Capacity")}}
            </p>
            <div style=" position: absolute;right: 0;bottom: 0;">
              <button class="button-text" (click)="openDialog()" mat-button style="font-size: 18px; float: right;">Show
                More</button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>
  </tr>
</table>

<!-- <ng-template [ngIf]="{{toggle}}">

      hello  
</ng-template> -->
<div fxLayoutAlign="center" style="padding-bottom: 2%;">
  <button  mat-stroked-button class="showAll" (click)="showProducts()">Show
      All Products</button>
</div>

</div>
<app-detailed-products *ngIf='!flag'></app-detailed-products>

<div *ngIf='!flag' fxLayoutAlign="center" style="padding-bottom: 2%;">
  <button  mat-stroked-button class="showAll" (click)="hideProducts()">Show Less</button>
</div>

<mat-divider></mat-divider>
<div class="parallax1"></div>
<mat-divider></mat-divider>