/* 
.example-header-image {
    background-image: url('https://thumbs.dreamstime.com/z/banner-best-word-best-colored-letters-comic-style-high-detail-vector-mock-up-typical-book-page-speech-bubble-59131177.jpg');
    background-size: cover;
} */


.matCard {
  width: 270px;
  height: 250px;
}


.flip-card {
  margin-bottom: 20px;
  background-color: transparent;
  width: 305px;
  height: 283.5px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 305px;
  height: 283.5px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  border-radius: 1.7%;
  transform: rotateY(180deg);
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.fpdiv{
  background-color: lightblue;

}


.inner{
display: inline-block;
}

.bottom-right {
  color: black;
  position: absolute;
  bottom: 52px;
  right: 5px;
  display: none;
}

tr.gap>td{
  padding :0 0.75em 0.45em 0.75em;
}

@media(max-width:960px){

  .bottom-right {
  
    display: inline;
  }
}