<div class="aboutUsScroll" id="aboutus"></div>
<div class="box-container"><span class="box"> About Us </span></div>
<div  class="backimage">

        <div fxLayout="row" fxLayout.xs="column-reverse" fxLayout.sm="column-reverse" fxLayoutGap="10px" class="transBlack backimage">
                <!-- <div fxFlex.gt-sm="50" fxFlex="100" class="content"> -->


                        <span fxFlex.gt-sm="65" class="content">Our journey began in 1989, where we began providing services for refrigerators
                                and conditioners in Sakinaka, Mumbai.
                                Our service based company expanded to product manufacturing in 1994.
                                We started manufacturing deep freezers and water coolers to provide high class products
                                to commercial companies.
                                Our manufacturing unit shifted from Sakinaka to Latur to expand our products range and
                                reach small
                                and high end business. Today we are one of the leading producers of cooling equipments
                                in our product
                                lineup. As a company our motto has always been to produce high-quality produts at
                                equivalent prices without
                                compromising performance. Our products have a reach from Latur to many popular cities of
                                Maharashtra
                                and Karnataka. Our goal is to improve our products, lineup and expand our reach to more
                                cities.</span>




                <!-- </div>
                <div fxFlex.gt-sm="50" fxFlex="100"> -->
                        <span class="profile_back">
                                <div class="cardList">
                                        <img class="cardListItem" height="300px"
                                                style="border-radius: 50%; padding: 2.5% 3% 2.5% 0%;"
                                                src="http://personsplasticsurgery.com/images/persons-sanfrancisco.jpg">
                                        <!-- <span class="cardListItem" style="padding-left:6%; padding-top:7%;"></span> -->

                                </div>
                                <div class="heading">Daniel Dsouza</div>
                                <div class="subHeading">Managing Director</div>
                        </span>

                <!-- </div> -->


        </div>
</div>

