<div class="aboutUsScroll"></div>
<div class="box-container"><span class="box"> About Us </span></div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="backimage">

<div class="transBlack">
        <div fxFlex.gt-sm="50" fxFlex="100" class="content">


                <span>This can continue from bla to bla and ba from na Sumary of product
                        giving brief
                        about the product and company.
                        This can continue from bla to bla and ba from na.
                        Sumary of product giving brief about the product and company.
                        This can continue from bla to bla and ba from na Sumary of product giving brief
                        about the product and
                        company.
                        This can continue from bla to bla and ba from na.
                        This can continue from bla to bla and ba from na Sumary of product giving brief
                        about the product and company.
                        This can continue from bla to bla and ba from na.
                        Sumary of product giving brief about the product and company.
                        This can continue from bla to bla and ba from na Sumary of product giving brief
                        about the product and
                        company.
                        This can continue from bla to bla and ba from na.</span>




        </div>
        <div fxFlex.gt-sm="50" fxFlex="100">
                <div class="profile_back">
                        <div class="cardList">
                                <img class="cardListItem" height="300px"
                                        style="border-radius: 50%; padding: 2.5% 3% 2.5% 0%;"
                                        src="http://personsplasticsurgery.com/images/persons-sanfrancisco.jpg">
                                <!-- <span class="cardListItem" style="padding-left:6%; padding-top:7%;"></span> -->
                                
                        </div>
                        <div class="heading">Daniel Dsouza</div>
                        <div class="subHeading">Managing Director</div>
                </div>

        </div>


</div>
</div>


<!-- <div class="profile_back">
        <div class="cardList">
                <img class="cardListItem" height="300px" style="border-radius: 50%; padding: 2.5% 3% 2.5% 0%;"
                        src="http://personsplasticsurgery.com/images/persons-sanfrancisco.jpg">
                <span class="cardListItem" style="padding-left:6%; padding-top:7%;">This can continue from bla to bla and ba from na Sumary of product
                        giving brief
                        about the product and company.
                        This can continue from bla to bla and ba from na.
                        Sumary of product giving brief about the product and company.
                        This can continue from bla to bla and ba from na Sumary of product giving brief
                        about the product and
                        company.</span>
        </div>
</div> -->