
.backimage {
    background-image: url("https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:white;
    opacity: 0.9;
    
  }
  
.round-image{
  border-radius: 2%;
}

  .transBlack {
    /* margin: 0px 30px 30px 30px; */
    
    background: rgba(0, 0, 0, 0.6);
    /* filter: alpha(opacity=60); For IE8 and earlier */
  }
  .content{
    margin:2%;
      padding:30px 30px 30px 30px;
      font-size:24px;
      /* text-align: center; */
      text-align: justify;
      
      
  }



   
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .blue-column {
    /* border:solid blue 5px; */
    height: 100%;
    padding: 25% 5% 0% 2%;
    
    text-align: justify;
    
  }

  .some-page-wrapper {
    margin: 2%;
    display: flex;
   
  height: 100%;
  }

.profile_back{
  min-height:350px;
  margin: 5%;
  justify-content: center;
  /* background-color: white; */
}
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.heading{
  font-size: 24px;
  color: white;

}
.subheading{
  font-size: 12px;
  color: white;
}
/*
 .cardListItem {
  flex: 0 1 calc(33.3% - 32px);
} */

@media(max-width:960px){
  .content{
    font-size: 18px;
  }
}