
<div class="backimage">
        <div class="transbox">
                <div class="box-container"><span class="box">&nbsp; About Us &nbsp;</span></div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="1%">
                
                        <div class="content"> <span>This can continue from bla to bla and ba from na Sumary of product giving brief
                                about the product and company.
                                This can continue from bla to bla and ba from na.
                                Sumary of product giving brief about the product and company.
                                This can continue from bla to bla and ba from na Sumary of product giving brief about the product and
                                company.
                                This can continue from bla to bla and ba from na.
                                This can continue from bla to bla and ba from na Sumary of product giving brief
                                about the product and company.
                                This can continue from bla to bla and ba from na.
                                Sumary of product giving brief about the product and company.
                                This can continue from bla to bla and ba from na Sumary of product giving brief about the product and
                                company.
                                This can continue from bla to bla and ba from na.</span>
                        </div>
 
               

                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding-right:2%;padding-bottom: 2%" fxLayoutGap="1%">
                
                
        <img class="img-rounded "  src="../assets/bulb.jpg" >
                </div>
            </div>
            </div>
            </div>
<div class="profile_back">
        <img height="300px" style="border-radius: 50%;"  src="http://personsplasticsurgery.com/images/persons-sanfrancisco.jpg" >      
</div>
