<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar > Menu</mat-toolbar>
    <mat-nav-list class="list1" >
      <a mat-list-item  (click)="scrollTo('homeTop')" >Home</a>
      <a mat-list-item  (click)="scrollTo('productScroll')" >Products</a>
      <a mat-list-item  (click)="scrollTo('aboutUsScroll')" >About Us</a>
      <a mat-list-item  (click)="scrollTo('contactUsScroll')" >Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content homeTop">
    <mat-toolbar class="{{hdr}}" [ngClass]="header">
      <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span>Super Star</span>
      <span class="spacer"></span>
      <div [ngClass]="{hidden: (isHandset$ | async)}">
      <button  mat-button  (click)="scrollTo('homeTop')">Home</button>
      <button mat-button (click)="scrollTo('productScroll')">Products</button>
      <button mat-button (click)="scrollTo('aboutUsScroll')" >About us</button>
      <button mat-button (click)="scrollTo('contactUsScroll')">Contact Us</button>
    </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content  ></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

