 .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .header{
    /* border: 5px solid red; */
    position: fixed;
    background-color: lightblue;
    font-size: 24px;
  
   
  }

  .button-text{
    font-size: 18px;
  }


 