
<div class="parallax"></div>



<table fxLayoutAlign="center">
  <tr class="gap" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    *ngFor="let name of detailedProductProductName;let i=index">
    <ng-container *ngIf="i%3==0">
      <td *ngFor="let j of [i,i+1,i+2]" class="flip-card">
        <span *ngIf="j<detailedProductProductName?.length">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <mat-card class="matCard">
                <img mat-card-image  style="height:230px"
                  src="http://atlas-content-cdn.pixelsquid.com/stock-images/refrigerator-oJlMq24-600.jpg"
                  alt="Photo of a {{detailedProductProductName[j]}}">
                <div class="bottom-right"><b>Click to Flip</b></div>

                <mat-card-content>
                  <p><b>{{detailedProductProductName[j]}}</b></p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="flip-card-back">
              <h1>{{detailedProductProductName[j]}}</h1>
              <!-- <p>
                {{detailedProductShortDetails.get(detailedProductProductName[j])}}
              </p> -->
              <p>
                Type:&nbsp;{{detailedProductSpecification.get(detailedProductProductName[j]).get("Type")}}
                <br>
                Dimensions:&nbsp;{{detailedProductSpecification.get(detailedProductProductName[j]).get("Dimensions")}}
                <br> Capacity:&nbsp;{{detailedProductSpecification.get(detailedProductProductName[j]).get("Capacity")}}
              </p>
              <div style=" position: absolute;right: 0;bottom: 0">
                <button class="button-text" (click)="openDialog()" mat-button
                  style="font-size: 18px; float: right;">Show
                  More</button>
              </div>
            </div>
          </div>
        </span>
      </td>
    </ng-container>
  </tr>
</table>

<button mat-button class="movingButton" (click)="scrollToUp('top')" *ngIf="showArrow"></button>

