<div class="transbox contactUsScroll">
        <div class="box-container"><span class="box"> Contact Us </span></div>
        <br>
        <div fxLayout="row" fxLayoutAlign="center" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5%"
                class="paddingForFooter">
                <div fxLayout="column" fxFlex.gt-sm="50" fxLayoutGap="5%" class="paddingForLeft allCenter">
                        <div fxLayout="row">
                                <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
                                <span class="content">Ausa Road, Latur - 413512, Near Life Style
                                        <br> Building, Rajeev
                                        Gandhi
                                        Chowk</span>
                        </div>
                        <div fxLayout="row">
                                <mat-icon aria-label="Side nav toggle icon">call</mat-icon>
                                <span class="content">+91-942271047 <br>+91-9823177469</span>
                        </div>
                </div>

                <div fxLayout="column" fxFlex.gt-sm="50" fxLayoutGap="5%" class="allCenter">
                        <div fxLayout="row">
                                <mat-icon aria-label="Side nav toggle icon">email</mat-icon>
                                <span class="content">superstarref@yahoo.in</span>
                        </div>


                        <div fxLayout="row">

                                <mat-icon aria-label="Side nav toggle icon">location_on</mat-icon>
                                <a href="https://goo.gl/maps/MtBzrV15v8fxGK8N6" class="content"><u>Click here to locate
                                                us on
                                                Google
                                                Maps</u></a>
                        </div>

                </div>
        </div>
</div>


<!-- code for footer -->
<div class="footer" fxLayoutAlign="center" style="padding-top:0.4%">

        <span style="font-size:15px;color:white;"> &copy; 2019 All rights reserved by Superstar Refrigeration</span>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com" target="blank"><img
                        src="https://img.icons8.com/nolan/24/000000/facebook.png"></a>
        &nbsp; <a href="https://www.instagram.com/" target="blank"> <img
                        src="https://img.icons8.com/nolan/24/000000/instagram-new.png"></a>
        &nbsp; <a href="https://twitter.com/login?lang=en" target="blank"><img
                        src="https://img.icons8.com/nolan/24/000000/twitter.png"></a>
</div>