<div class="transbox">
        <div class="box-container"><span class="box">&nbsp; Contact Us &nbsp;</span></div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15%"
                style="padding-top:2%;">
                <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">
                        <mat-icon aria-label="Side nav toggle icon">home</mat-icon><br>
                        <span class="content">Ausa Road, Latur - 413512, Near Life Style<br> Building, Rajeev
                                Gandhi
                                Chowk</span>
                </div>
                <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">
                        <mat-icon aria-label="Side nav toggle icon">call</mat-icon><br>
                        <span class="content">+91-942271047 <br>+91-9823177469</span>
                </div>
                <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">
                        <mat-icon aria-label="Side nav toggle icon">email</mat-icon><br>
                        <span class="content">superstarref@yahoo.in</span>
                </div>


        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center" fxLayout.xs="column" style="padding-top:3%;padding-bottom:3%;">

                <mat-icon aria-label="Side nav toggle icon">location_on</mat-icon><br>
                <a href="https://goo.gl/maps/MtBzrV15v8fxGK8N6" class="content"><u>Click here to locate
                                us on
                                Google
                                Maps</u></a>
        </div>



</div>

