.transbox{
    background-color: rgb(6, 6, 49);
}

.content{
    font-size: 17 px;
    color: rgb(226, 219, 219);
}
.mat-icon{
    margin-left: 3%;
    padding-right: 3%;
    color: rgb(226, 219, 219);
}



.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    font-family: 'Times New Roman', Times, serif;
       /* text-align: center; */
 }

.paddingForFooter 
{
    padding-bottom:5%;
}

.paddingForLeft{

    padding-left: 10%;
}

@media(max-width:960px){

    .paddingForLeft{

        padding-left: 0%;

    } 
    .paddingForFooter 
    {
        padding-bottom:10%;
    }
    .allCenter{
       align-self: center;
    }
  }
  
  @media(max-width:400px){
  
    .paddingForFooter 
    {
        padding-bottom:20%;
    }
    .allCenter{
        align-self: center;
     }
  }