<div class="transbox contactUsScroll">
        <div class="box-container"><span class="box"> Contact Us </span></div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding-bottom:5%;">
                <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" 
                        style="padding-left:19%;">
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                                <mat-icon aria-label="Side nav toggle icon">home</mat-icon><br>
                                <span class="content">Ausa Road, Latur - 413512, Near Life Style<br> Building, Rajeev
                                        Gandhi
                                        Chowk</span>
                        </div>
                        <br><br>
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                                <mat-icon aria-label="Side nav toggle icon">call</mat-icon><br>
                                <span class="content">+91-942271047 <br>+91-9823177469</span>
                        </div>
                </div>
                <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" 
                        style="padding-left:15%;">
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                                <mat-icon aria-label="Side nav toggle icon">email</mat-icon><br>
                                <span class="content">superstarref@yahoo.in</span>
                        </div>


                        <br><br><br>
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

                                <mat-icon aria-label="Side nav toggle icon">location_on</mat-icon><br>
                                <a href="https://goo.gl/maps/MtBzrV15v8fxGK8N6" class="content"><u>Click here to locate
                                                us on
                                                Google
                                                Maps</u></a>
                        </div>



                </div>
        </div>
</div>