<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  <div class='some-page-wrapper'>
    <div class='row'>
      <div fxFlex.gt-sm="50" fxFlex="100">
        <div class='column'>
          <div class='blue-column'>
            <span class="title1 hide-on-init" animateOnScroll animationName="animated fadeIn">Refrigerators and Kitchen Equipments
      </span>
            <br>
            <span class="subhead hide-on-init animated-delay-1 " animateOnScroll animationName="animated fadeInDown">
              We provide wide range of products ranging from chillers to kitchen equipments, that 
            suits to your business needs. Our cooling range expands from water coolers to deep freezers
          and kitchen equipments expanding from cutting tables to gas burner. Maintaining highest quality of products is our highest priority.</span>
          </div>
        </div>
      </div>
      <div fxFlex.gt-sm="50" fxFlex="100">
        <div class='column'>
          <div class='green-column'>
            <!-- <span class="parallax"></span> -->
            <!-- <img class="hide-on-init animated-delay-2" animateOnScroll animationName="animated fadeIn " src="http://www.pngmart.com/files/7/Refrigerator-PNG-File.png"> -->
            <br><br><br><slideshow 
                    [minHeight]="'500px'" 
                    [autoPlay]=true 
                    [showArrows]=false 
                    [imageUrls]="imageUrls"
                    [lazyLoad]="imageUrls?.length > 1" 
                    [autoPlayWaitForLazyLoad]="true"
                    [autoPlayInterval]=4000
                    [backgroundSize]="'50%'"
                    [showDots]=true
                    [dotColor]="'#060631'"
                    >
            </slideshow>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<mat-divider></mat-divider>




<div class="parallax">

  <span class="innovate">&nbsp;One Vision. Innovate.&nbsp;</span>

</div>
<!-- comment -->
<mat-divider></mat-divider>
<app-featured-products></app-featured-products>
<app-aboutus></app-aboutus>
<app-contactus></app-contactus>



<!-- 
<div class="container">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ng2-animate-on-scroll example</h1>
      <p class="lead">Scroll down for a few examples</p>
    </div>
  </div>

  <div class="row p-5">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card hide-on-init" animateOnScroll animationName="animated fadeIn">
        <div class="card-block">
          <div class="card-title">
            <h3>One</h3>
          </div>
          <div class="card-text">
            <p>Cards that ...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInDown">
        <div class="card-block">
          <div class="card-title">
            <h3>Two</h3>
          </div>
          <div class="card-text">
            <p>... fade in at ...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card hide-on-init animated-delay-2" animateOnScroll animationName="animated fadeInDown">
        <div class="card-block">
          <div class="card-title">
            <h3>Three</h3>
          </div>
          <div class="card-text">
            <p>... different times.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row p-5">
    <div class="col hide-on-init" animateOnScroll animationName="animated fadeInLeft">
      <h4>Divs containing other elements like buttons or forms</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet elit feugiat, venenatis turpis id, pharetra felis. Cras mollis vitae orci eget volutpat. Proin dapibus massa vitae lacus maximus, vitae cursus diam sodales. Curabitur laoreet nunc sit amet est sagittis rutrum. Nulla at ante sed elit scelerisque vestibulum. Vivamus commodo mauris ante, quis varius ante dictum vel. Mauris in est volutpat, auctor diam ut, pretium est. Suspendisse ...</p>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Left</button>
        <button type="button" class="btn btn-secondary">Middle</button>
        <button type="button" class="btn btn-secondary">Right</button>
      </div>
    </div>
  </div>

  <div class="row p-5">
    <div class="col hide-on-init" animateOnScroll animationName="animated fadeInRight">
      <h4>Sections of text</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet elit feugiat, venenatis turpis id, pharetra felis. Cras mollis vitae orci eget volutpat. Proin dapibus massa vitae lacus maximus, vitae cursus diam sodales. Curabitur laoreet nunc sit amet est sagittis rutrum. Nulla at ante sed elit scelerisque vestibulum. Vivamus commodo mauris ante, quis varius ante dictum vel. Mauris in est volutpat, auctor diam ut, pretium est. Suspendisse ...</p>
    </div>
  </div>

  <div class="row p-5">
    <div class="col">
      <h4>Images</h4>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6 p-3">

      <img src="https://images.pexels.com/photos/37547/suit-business-man-business-man-37547.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" 
           class="img-fluid rounded float-left hide-on-init"
           animateOnScroll animationName="animated zoomInDown" />

    </div>
    <div class="col-md-12 col-lg-6 p-3">

      <img src="https://images.pexels.com/photos/37547/suit-business-man-business-man-37547.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" 
      class="img-fluid rounded float-left hide-on-init"
           animateOnScroll animationName="animated zoomInDown" />

    </div>
    <div class="col-md-12 col-lg-6 p-3">

      <img src="https://images.pexels.com/photos/37547/suit-business-man-business-man-37547.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" 
      class="img-fluid rounded float-left hide-on-init"
           animateOnScroll animationName="animated zoomInDown" />

    </div>
  </div>

</div>
 -->